# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
platforms/
plugins/

.idea

www
www/lib

npm-*.log

src/js/_init/config.js

*.keystore
publish.sh
.io-config.json