script(type="text/ng-template", id="options")
    ion-view(view-title="Options")
        ion-content
            div.list
                div.item.item-divider Player
                ion-toggle(ng-model="player.pvp") PvP Mode