
script(type="text/ng-template", id="changeskill.info")
    ion-modal-view
        ion-header-bar.bar-balanced
            .buttons
                button.button(ng-click="closeSkillInfo()")
                    i.icon.ion-close
            h1.title {{activeSkill.spellName}} (Level {{activeSkill.spellLevel}})
        ion-content.skill-modal-container(scroll="false")
            .row.data-area
                .col
                    .row
                        .col.text-center
                            i.icon.ion-clock
                            span &nbsp;
                            ng-pluralize(count="activeSkill.spellCooldown", when="{'0': 'Instant', 'one': '1 round', 'other': '{} rounds'}")
                        .col.text-center
                            i.icon.ion-waterdrop
                            span &nbsp;
                            span {{activeSkill.spellCost}} mp
                        .col.text-center
                            i.icon.ion-android-contact
                            span &nbsp;
                            span {{activeSkill.spellTargets}}

            .row.desc-area
                .col.text-center {{activeSkill.spellDescription}}

            .row.effects-area
                .col.text-center
                    .row(ng-repeat="effect in activeSkillAttrs")
                        .col.col-20.col-offset-20.text-right
                            strong {{effect.name}}
                        .col.text-left
                            span {{effect.value.min_possible}}
                            span(ng-if="effect.value.min_possible !== effect.value.max_possible") -{{effect.value.max_possible}}
                            span &nbsp;
                            ng-pluralize(ng-if="effect.extra.string", count="effect.value.max_possible", when="{'one': effect.extra.string, 'other': effect.extra.string+'s'}")
                            span &nbsp;
                            span(ng-if="effect.extra.chance") ({{effect.extra.chance}}% chance)


            .row.assign-area
                .col.col-flex
                    .row
                        .col.text-center
                            h3.title Assign Skill

                    .row.skill-container
                        .col.col-flex

                            .row.skill-row
                                .col.col-33.skill-slot(ng-repeat="idx in [0,1,2,3,4,5]")
                                    .row
                                        .col Slot {{idx+1}}
                                    .row
                                        .col
                                            button.button.button-full.skill-button.button-block(
                                                ng-class="{'button-stable': !player.skills[idx], 'button-balanced': player.skills[idx]}",
                                                ng-click="setSkillInSlot(activeSkill.spellName, idx)")
                                                span.skill-text {{player.skills[idx] || 'none'}}
