
script(type="text/ng-template", id="choosetarget.info")
    ion-modal-view(ng-controller="SelectTargetController")
        ion-header-bar.bar-balanced
            .buttons
                button.button(ng-click="closeModal()")
                    i.icon.ion-close
            h1.title {{activeSkill.spellName}}
        ion-content.skill-modal-container
            .row.data-area(ng-if="activeSkill")
                .col
                    .row
                        .col.text-center
                            cooldown(turns="battleFlow.skillCooldown(activeSkill, me)")
                        .col.text-center
                            mp-cost(cost="battleFlow.skillCost(activeSkill, me)")
                        .col.text-center
                            i.icon.ion-android-contact
                            span &nbsp;
                            span {{activeSkill.spellTargets}}

            .row.desc-area
                .col.text-center {{activeSkill.spellDescription}}

            .row.effects-area
                .col.text-center
                    skill-effect-display(effects="activeSkillAttrs", multiplier="multiplier")

            .row.assign-area
                .col.col-flex
                    .row
                        .col.text-center
                            h3.title Choose Target

                    .row.skill-container(ng-if="!battleFlow.canCastSkillMP(activeSkill, me)")
                        .col.col-flex.col-center
                            .row.row-center.text-center
                                div You need <mp-cost cost="skillCost(activeSkill) - me.stats.mp.__current"></mp-cost> to cast this spell.

                    .row.skill-container(ng-if="!battleFlow.canCastSkillCD(activeSkill, me)")
                        .col.col-flex.col-center
                            .row.row-center.text-center
                                div You to wait <cooldown turns="me.cooldowns[activeSkill.spellName]"></cooldown> to cast this spell.

                    .row.skill-container(ng-if="battleFlow.canCastSkillMP(activeSkill, me) && battleFlow.canCastSkillCD(activeSkill, me)")
                        .col.col-flex

                            .row(ng-if="activeSkill.spellTargets === 'Single Ally'")
                                .col.col-33.monster-slot(ng-repeat="player in orderedPlayers")
                                    .row
                                        .col
                                            button.button.button-full.skill-button.button-block.button-stable(
                                                ng-click="target.player(player)")
                                                span.skill-text {{player.name}}

                                    .row
                                        .col.text-center
                                            div
                                                health-display(target="player")
                                            div
                                                mana-display(target="player")

                            .row(ng-if="activeSkill.spellTargets === 'Single Enemy'")
                                .col.col-33.monster-slot(ng-repeat="monster in battle.monsters")
                                    .row
                                        .col
                                            button.button.button-full.skill-button.button-block.button-stable(
                                                ng-click="target.monster(monster)",
                                                ng-disabled="monster.stats.hp.__current === 0")
                                                span.skill-text {{monster.name}}

                                    .row
                                        .col
                                            stat-bar(target="monster", stat="hp")

                            .row(ng-if="activeSkill.spellTargets === 'All Enemies' || activeSkill.spellTargets === 'All Allies' || activeSkill.spellTargets === 'All' || activeSkill.spellTargets === 'Self'")
                                .col.col-60.col-offset-20
                                    button.button.button-assertive.button-block.skill-button.button-full(
                                        ng-click="target.other(activeSkill.spellTargets)")
                                        span.skill-textConfirm Target: {{activeSkill.spellTargets}}
