doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport", content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width")
        title qson
        link(href="css/ionic.app.css",rel="stylesheet")
        script(src="js/lib.js")
        script(src="cordova.js")
        script(src="js/app.js")

    body(ng-app="qson")
        ion-pane(ng-controller="AppController")
            ion-header-bar(class="bar-stable")
                h1.title qson
                div.buttons
                    button.button(ng-click="scanCode()", ng-if="!showSpinner")
                        i.icon.ion-ios-camera
                    button.button(disabled, ng-if="showSpinner")
                        ion-spinner

            ion-content
                div.background-text(ng-if="!info.display || !info.data")
                    | Invalid data.
                    | <br><br>
                    | Scan new source.

                div.list.card(ng-repeat="card in info.display", ng-include="'card-'+card.cardType")