doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport", content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width")
        title Reactive Retro
        link(href="css/ionic.app.css",rel="stylesheet")
        script(src="js/lib.js")
        script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAc6kFwQR8Cj4nH0UEbdocIY6wgJ_b_Bes&sensor=true")
        script(src="cordova.js")
        script(src="js/app.js")

    body(ng-app="retro", ng-controller="MenuController")
        ion-side-menus(enable-menu-with-back-views="false")
            ion-side-menu-content(drag-content="false")
                ion-nav-bar.bar-royal
                    ion-nav-back-button
                    ion-nav-buttons(side="left")
                        button.button.button-icon.icon.ion-navicon(menu-toggle="left", ng-if="!hideMenu")
                ion-nav-view

            ion-side-menu(side="left")
                header.bar.bar-header.bar-assertive
                    h1.title Menu
                ion-content.has-header
                    ion-list
                        ion-item(menu-close, ng-repeat="place in menu", ui-sref="{{place.state}}")
                            i(ng-class="place.icon")
                            span &nbsp;{{place.name}}
