script(type="text/ng-template", id="index")
    ion-view(view-title="Home", cache-view="false")
        ion-content(ng-controller="HomeController")
            div Welcome to Reactive Retro! Ideally, the background here would be some live map feed of your current area, just so you can see what it looks like!
            button.button.button-assertive(ng-click="auth.google()") Auth with Google
            button.button.button-balanced(ng-click="skipAuth()", nav-clear) Skip