script(type="text/ng-template", id="battle")
    ion-view(view-title="Battle")
        ion-content.combat
            .row.inner-alignment-padding.monster-row.text-center
                .col.col-33(ng-repeat="monster in battle.monsters")
                    div {{monster.name}}
                    div
                        stat-bar(target="monster", stat="hp")

            .row.inner-alignment-padding(ng-repeat-start="player in orderedPlayers")
                .col.col-center.text-right
                    div {{player.name}}
                    div {{player.slug}}

                .col.col-center
                    div
                        health-display(target="player")
                    div
                        stat-bar(target="player", stat="hp")
                .col.col-center
                    div
                        mana-display(target="player")
                    div
                        stat-bar(target="player", stat="mp")

            .row.inner-alignment-padding
                .col
                    span(ng-show="targets[player.name]") {{targets[player.name].skill}} > {{targets[player.name].name}}
                .col.text-right
                    span(ng-show="canConfirm")
                        button.button.button-small.button-balanced(ng-click="confirmAction()") Confirm

            .row.skill-row(ng-if="player.name === currentPlayerName", ng-repeat-end)
                .col
                    .row.text-center
                        .col.text-center
                            button.button.button-stable.button-block.margin-0(ng-click="openSkillInfo('Attack')", ng-disabled="disableActions") Attack

                        .col.text-center
                            button.button.button-stable.button-block.margin-0(disabled) Item

                        .col.text-center
                            button.button.button-stable.button-block.margin-0(disabled) Flee

                    .row.text-center.skill-grid
                        .col.col-33(ng-repeat="skill in uniqueSkills")
                            button.button.button-balanced.skill-button.button-block.margin-0.battle-button(
                                ng-click="openSkillInfo(skill.spellName)",
                                ng-disabled="disableActions"
                                )
                                .row.padding-0.skill-name
                                    .col {{skill.spellName}}
                                .row.padding-0.skill-disabled(ng-if="!canCastSkillMP(skill) || !canCastSkillCD(skill)")
                                    .col.col-center.assertive
                                        span(ng-if="!canCastSkillMP(skill)")
                                            i.icon.ion-waterdrop
                                        span(ng-if="!canCastSkillCD(skill)")
                                            i.icon.ion-clock