script(type="text/ng-template", id="changeclass")
    ion-view(view-title="Change Class")
        ion-content
            div.card(ng-repeat="class in player.unlockedProfessions")
                div.item.item-divider
                    h2
                        span {{class}}
                        i.icon.ion-arrow-swap.float-right
                div.item.item-body
                    div.row
                        div.col {{CLASSES[class]}}