script(type="text/ng-template", id="changeclass")
    ion-view(view-title="Change Class")
        ion-content
            div.card(ng-repeat="prof in player.unlockedProfessions")
                div.item.item-divider
                    h2
                        span {{prof}} (level {{player.professionLevels[prof]}})
                        span.float-right
                            button.button.button-small(ng-click="ClassChangeFlow.change(prof)", ng-if="prof !== player.profession")
                                i.icon.ion-arrow-swap
                            button.button.button-small(disabled, ng-if="prof === player.profession")
                                i.icon.ion-star
                div.item.item-body
                    div.row
                        div.col {{CLASSES[prof]}}