script(type="text/ng-template", id="changeskills")
    ion-view(view-title="Skills")
        ion-content
            .list.margin-0(ng-repeat="skillData in allSkills | orderBy:'prof'")
                .item.item-divider {{skillData.prof}}
                .item(ng-repeat="skill in skillData.profSkills", ng-click="openSkillInfo(skill)")
                    .row.padding-0
                        .col.padding-0
                            span {{skill.spellName}}
                            span &nbsp;
                            small.italic.subdued Level {{skill.spellLevel}}
                        .col.padding-0.text-right
                            span(ng-if="countNumTimesSkillSet(skill.spellName) > 0")
                                i.icon.game-icon.game-icon-item-tier-1
                                | &nbsp;
                                | {{countNumTimesSkillSet(skill.spellName)}}