script(type="text/ng-template", id="options")
    ion-view(view-title="Options")
        ion-content
            div.list
                div(ng-repeat="option in allOptions", ng-include="'options-'+option.type")

script(type="text/ng-template", id="options-divider")
    div.item.item-divider {{option.label}}

script(type="text/ng-template", id="options-toggle")
    ion-toggle(
        ng-show="isVisible(option)",
        ng-model="playerOptions[option.variable]",
        ng-click="toggleOption(option)",
        blocked-by="Options"
    ) {{option.label}}