script(type="text/ng-template", id="player")
    ion-view(view-title="Player")
        ion-content
            .card
                .item.item-divider
                    h2
                        span {{player.name}}
                        span.float-right
                            button.button.button-small(ng-click="go('changeclass')")
                                i.icon.ion-arrow-swap

                    p Level {{player.professionLevels[player.profession]}} {{player.profession}}

                .item.item-body
                    .row
                        .col.col-center.text-center
                            health-display(target="player")
                        .col.col-center.text-center
                            mana-display(target="player")
                        .col.col-center.text-center
                            gold-display(value="player.stats.gold")

                    .row
                        .col.col-center
                            stat-bar(target="player", stat="xp")

                    .row
                        .col
                            color-text(pre-text="STR", value="player.stats.str")
                        .col
                            color-text(pre-text="DEX", value="player.stats.dex")
                        .col
                            color-text(pre-text="VIT", value="player.stats.vit")
                        .col
                            color-text(pre-text="MNT", value="player.stats.mnt")
                        .col
                            color-text(pre-text="LUK", value="player.stats.luk")

            .card
                .item.item-divider
                    h2
                        span {{player.equipment.weapon.name}}
                        span.float-right
                            button.button.button-small(ng-click="go('inventory.weapons')")
                                i.icon.ion-arrow-swap
                    p Weapon

                .item.item-body
                    .row
                        .col(ng-if="player.equipment.weapon.stats.str")
                            color-text(pre-text="STR", value="player.equipment.weapon.stats.str")

                        .col(ng-if="player.equipment.weapon.stats.dex")
                            color-text(pre-text="DEX", value="player.equipment.weapon.stats.dex")

                        .col(ng-if="player.equipment.weapon.stats.vit")
                            color-text(pre-text="VIT", value="player.equipment.weapon.stats.vit")

                        .col(ng-if="player.equipment.weapon.stats.mnt")
                            color-text(pre-text="MNT", value="player.equipment.weapon.stats.mnt")

                        .col(ng-if="player.equipment.weapon.stats.luk")
                            color-text(pre-text="LUK", value="player.equipment.weapon.stats.luk")

                        .col(ng-if="isEmpty(player.equipment.weapon.stats)") No stats.

            .card
                .item.item-divider
                    h2
                        span {{player.equipment.armor.name}}
                        span.float-right
                            button.button.button-small(ng-click="go('inventory.armor')")
                                i.icon.ion-arrow-swap
                    p Armor
                .item.item-body
                    .row
                        .col(ng-if="player.equipment.armor.stats.str")
                            color-text(pre-text="STR", value="player.equipment.armor.stats.str")
                        .col(ng-if="player.equipment.armor.stats.dex")
                            color-text(pre-text="DEX", value="player.equipment.armor.stats.dex")
                        .col(ng-if="player.equipment.armor.stats.vit")
                            color-text(pre-text="VIT", value="player.equipment.armor.stats.vit")
                        .col(ng-if="player.equipment.armor.stats.mnt")
                            color-text(pre-text="MNT", value="player.equipment.armor.stats.mnt")
                        .col(ng-if="player.equipment.armor.stats.luk")
                            color-text(pre-text="LUK", value="player.equipment.armor.stats.luk")
                        .col(ng-if="isEmpty(player.equipment.armor.stats)") No stats.