script(type="text/ng-template", id="player")
    ion-view(view-title="Player")
        ion-content
            div.card
                div.item.item-divider
                    h2
                        span {{player.name}}
                        span.float-right
                            button.button.button-small(ng-click="go('changeclass')")
                                i.icon.ion-arrow-swap

                    p Level {{player.professionLevels[player.profession]}} {{player.profession}}

                div.item.item-body
                    div.row
                        div.col
                            div.stat-bar-container
                                div.stat-bar.hp(style="width: {{player.stats.hp.cur/player.stats.hp.max*100}}%")
                        div.col
                            div.stat-bar-container
                                div.stat-bar.mp(style="width: {{player.stats.mp.cur/player.stats.mp.max*100}}%")
                        div.col
                            div.stat-bar-container
                                div.stat-bar.xp(style="width: {{player.stats.xp.cur/player.stats.xp.max*100}}%")

                    div.row
                        div.col(ng-if="player.stats.str")
                            color-text(pre-text="STR", value="{{player.stats.str}}")
                        div.col(ng-if="player.stats.dex")
                            color-text(pre-text="DEX", value="{{player.stats.dex}}")
                        div.col(ng-if="player.stats.vit")
                            color-text(pre-text="VIT", value="{{player.stats.vit}}")
                        div.col(ng-if="player.stats.mnt")
                            color-text(pre-text="MNT", value="{{player.stats.mnt}}")
                        div.col(ng-if="player.stats.luk")
                            color-text(pre-text="LUK", value="{{player.stats.luk}}")

                    div.row
                        div.col
                            span.energized(href) Gold {{player.stats.gold}}

            div.card
                div.item.item-divider
                    h2
                        span {{player.equipment.weapon.name}}
                        span.float-right
                            button.button.button-small(ng-click="go('inventory.weapons')")
                                i.icon.ion-arrow-swap
                    p Weapon

                div.item.item-body
                    div.row
                        div.col(ng-if="player.equipment.weapon.stats.str")
                            color-text(pre-text="STR", value="{{player.equipment.weapon.stats.str}}")

                        div.col(ng-if="player.equipment.weapon.stats.dex")
                            color-text(pre-text="DEX", value="{{player.equipment.weapon.stats.dex}}")

                        div.col(ng-if="player.equipment.weapon.stats.vit")
                            color-text(pre-text="VIT", value="{{player.equipment.weapon.stats.vit}}")

                        div.col(ng-if="player.equipment.weapon.stats.mnt")
                            color-text(pre-text="MNT", value="{{player.equipment.weapon.stats.mnt}}")

                        div.col(ng-if="player.equipment.weapon.stats.luk")
                            color-text(pre-text="LUK", value="{{player.equipment.weapon.stats.luk}}")

                        div.col(ng-if="isEmpty(player.equipment.weapon.stats)") No stats.

            div.card
                div.item.item-divider
                    h2
                        span {{player.equipment.armor.name}}
                        span.float-right
                            button.button.button-small(ng-click="go('inventory.armor')")
                                i.icon.ion-arrow-swap
                    p Armor
                div.item.item-body
                    div.row
                        div.col(ng-if="player.equipment.armor.stats.str")
                            color-text(pre-text="STR", value="{{player.equipment.armor.stats.str}}")
                        div.col(ng-if="player.equipment.armor.stats.dex")
                            color-text(pre-text="DEX", value="{{player.equipment.armor.stats.dex}}")
                        div.col(ng-if="player.equipment.armor.stats.vit")
                            color-text(pre-text="VIT", value="{{player.equipment.armor.stats.vit}}")
                        div.col(ng-if="player.equipment.armor.stats.mnt")
                            color-text(pre-text="MNT", value="{{player.equipment.armor.stats.mnt}}")
                        div.col(ng-if="player.equipment.armor.stats.luk")
                            color-text(pre-text="LUK", value="{{player.equipment.armor.stats.luk}}")
                        div.col(ng-if="isEmpty(player.equipment.armor.stats)") No stats.