script(type="text/ng-template", id="index")
    ion-view(view-title="Home", cache-view="false")
        ion-content.has-header(ng-controller="HomeController")
            .row
                .col Welcome to Reactive Retro!

            .row
                .col Ideally, the background here would be some live map feed of your current area, just so you can see what it looks like!

            .row
                .col This is a very early version of the game.

            .row.row-bottom
                .col
                    button.button.button-balanced.button-block(ng-click="auth.login()", ng-disabled="!canConnect") Login