script(type="text/ng-template", id="index")
    ion-view(view-title="Home", cache-view="false")
        ion-content.has-header(ng-controller="HomeController")
            div Welcome to Reactive Retro! Ideally, the background here would be some live map feed of your current area, just so you can see what it looks like!
            button.button.button-balanced(ng-click="auth.login()") Login