script(type="text/ng-template", id="index")
    ion-view(view-title="Home", cache-view="false")
        ion-content.has-header(ng-controller="HomeController")
            .row
                .col Welcome to Reactive Retro!

            .row
                .col Ideally, the background here would be some live map feed of your current area, just so you can see what it looks like!

            .row
                .col This is a very early version of the game.

            .row.row-bottom
                .col.text-center
                    div(ng-if="!authData.canConnect") The game appears to be offline (or you lost connection).
                    div(ng-if="!coords")
                        div Attempting to get your location.
                        div Please ensure your GPS is on!
                    button.button.button-balanced.button-block(ng-click="auth.login()", ng-disabled="!coords || !authData.canConnect", ng-show="!coords || !authData.attemptAutoLogin") Login
                    button.button.button-balanced.button-block.button-clear(ng-if="coords && authData.attemptAutoLogin", disabled)
                        ion-spinner
                        | &nbsp;Logging you in...