
.combat {
  .monster-row {
    margin-bottom: 50px;
  }

  .skill-row {
    .skill-grid {
      flex-wrap: wrap;

      button.battle-button {
        display: flex;
      }
    }
  }
}

.battle-button {
  height: 80px !important;
}

.monster-name {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.effect-bar-container {
  text-align: center;

  .effect {
    font-size: 21px;
  }
}