
.inline-block {
  display: inline-block;
  width: 100%;
}

.pull-right {
  float: right;
}

.padding-0 {
  padding: 0 !important;
}

.margin-0 {
  margin: 0 !important;
}

.margin-top-5 {
  margin-top: 5px !important;
}

.margin-top-10 {
  margin-top: 10px !important;
}

.float-right {
  float: right;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.subdued {
  color: #888;
}

.vertical-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.valign-top {
  vertical-align: top;
}

.no-pointer-events {
  pointer-events: none;
}

.inner-alignment-padding {
  padding-left: 15px;
  padding-right: 15px;
}

.row-center.text-center {
  justify-content: center;
}

.button-small.button-xs {
  min-height: 20px;
  line-height: 15px;
}

.text-outline {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: #fff;
}

.icon-container {
  display: flex;

  &.centered {
    justify-content: center;
  }

  .pull-right {
    margin-left: auto;
  }
}

.row.wrap {
  flex-wrap: wrap;
}