
// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/release/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";

.float-right {
  float: right;
}

.text-center {
  text-align: center;
}

.platform-browser ion-tabs .pane .card:first-child, .header-bar-margin {
  margin-top: 54px !important; //44 for the header bar, 10 for padding
}

ion-content .scroll {
  min-height: 70%;
}

h3.subdued {
  color: #888;
}

.vertical-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.stat-bar-container {
  border: 1px solid goldenrod;
  width: 100%;

  .stat-bar {
    height: 10px;
    transition: width 0.1s;

    &.hp {
      background-color: red;
    }

    &.mp {
      background-color: blue;
    }

    &.xp {
      background-color: green;
    }
  }
}

map {
  display: block;
  width: 100%;
  height: 100%;
}
.scroll {
  height: 100%;
}

.gmaps-button {
  position: absolute;
  z-index: 20;

  &.fight-button {
    bottom: 30px;
    right: 15px;
  }
}