
// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/release/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";
@import "helpers";
@import "map";
@import "combat";
@import "skillchange";
@import "itemdisplay";
@import "iconoverrides";

ion-content .scroll {
  min-height: 70%;
}

.stat-bar-container {
  border: 1px solid goldenrod;
  width: 100%;

  .stat-bar {
    height: 10px;
    transition: width 0.1s;

    &.hp {
      background-color: red;
    }

    &.mp {
      background-color: blue;
    }

    &.xp {
      background-color: green;
    }
  }
}