
// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/release/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";

.pull-right {
  float: right;
}

.padding-0 {
  padding: 0 !important;
}

.margin-0 {
  margin: 0 !important;
}

.float-right {
  float: right;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.italic {
  font-style: italic;
}

ion-content .scroll {
  min-height: 70%;
}

.subdued {
  color: #888;
}

.vertical-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.stat-bar-container {
  border: 1px solid goldenrod;
  width: 100%;

  .stat-bar {
    height: 10px;
    transition: width 0.1s;

    &.hp {
      background-color: red;
    }

    &.mp {
      background-color: blue;
    }

    &.xp {
      background-color: green;
    }
  }
}

map {
  display: block;
  width: 100%;
  height: 100%;
}
.scroll {
  height: 100%;
}

.gmaps-button {
  position: absolute;
  z-index: 20;

  &.findme-button {
    bottom: 30px;
    left: 15px;

    .icon {
      font-size: smaller;
    }
  }

  &.fight-button {
    bottom: 30px;
    right: 15px;
  }
}

.skill-modal-container {
  display: flex;
  height: 100%;
  flex-direction: column;

  .data-area {
    flex: 1;
  }

  .desc-area {
    flex: 1;
  }

  .effects-area {
    flex: 2;
  }

  .assign-area {
    flex: 5;
  }

  .col-flex {
    display: flex;
    flex-direction: column;
  }

  .skill-container {
    flex: 0.5;

    .skill-row {
      flex: 0.5;
      flex-wrap: wrap;

      .skill-slot {
        text-align: center;
        align-self: center;
      }
    }
  }
}

.skill-button {
  line-height: inherit;
  font-size: inherit;
  padding: inherit;
}

.combat {
  .monster-row {
    margin-bottom: 50px;
  }

  .skill-row {
    .skill-grid {
      flex-wrap: wrap;

      button.battle-button {
        display: flex;
      }
    }
  }
}

.inner-alignment-padding {
  padding-left: 15px;
  padding-right: 15px;
}

.battle-button {
  height: 80px !important;
}

.row-center.text-center {
  justify-content: center;
}